@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* bg-black min-h-screen bg-gradient-to-b from-[#1b1125] to-black */
  /* background: #070707; */
  background: linear-gradient(#1b1125, #000);
  z-index: inherit;
}

.gradient {
  background-image: url('../assets/gradient.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}


a {
  color: inherit;
  text-decoration: none;
}

@layer base {

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}